.tableRow {
  transition: background-color 0.3s ease;
}

.tableCell {
  padding: 16px 32px;
  border-bottom: 1px solid var(--gray-10);
}

.imageCell {
  width: 60px;
}

.employeeImage {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.nameCell {
  font-size: var(--font-size-h3);
  font-weight: 500;
  color: var(--black-neutral);
}

.dateCell {
  font-size: var(--font-size-h3);
  color: var(--black-neutral);
}

.phoneCell {
  font-size: var(--font-size-h3);
  color: var(--black-neutral);
}

/* Responsividade */
@media (max-width: 480px) {
  .tableCell {
    padding: 16px 16px;
  }

  .imageCell {
    width: 40px;
  }

  .employeeImage {
    width: 30px;
    height: 30px;
  }

  .nameCell {
    font-size: 14px;
  }

  .dateCell {
    font-size: 14px;
  }

  .phoneCell {
    font-size: 14px;
  }
}
